@{ Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home Page"; }

@section Scripts{
    <script>
        window.onload = function () {


         $.getJSON("/Home/GetData", function (data) {
             var categories = []
             var series = []
             var series2 = []
             for (var i = 0; i < data.dulieu.length; i++) {
                 var sr = data.dulieu[i].data
                 var sr2 = data.dulieu[i + 1].data

                 for (var i = 0; i < sr.length; i++) {
                      categories.push(sr[i].ngay)
                      series.push(sr[i].doanhso)
                 }

                 for (var i = 0; i < sr2.length; i++) {
                     series2.push(sr2[i].doanhso)
                 }
             }

             var json = {
                 chart: {
                     type: 'column'
                 },
                 title: {
                     text: "Doanh thu tháng" + @ViewBag.Thang
                    },
                 yAxis: {
                     min: 0,
                     title: {
                         text: 'DOANH THU'
                     }
                 },
                 xAxis: {
                      categories: categories 
                 },
                 series: [{
                     name: 'Doanh so ngay theo thang',
                     data: series
                 }, {
                         name: 'Doanh so ngay theo tuan',
                         data: [1,2,3,4,5,6]
                     }]
             }
         Highcharts.chart('container', json);
     });
}
    </script>
}
<br />
<div>

</div>
<br />

<div class="col-lg-12">
    <div class="col-lg-6">
        <div id="container"></div>
    </div>
</div>

