@{ Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home Page"; }

@section Scripts{
    <script>
            $("#thang").change(function () {
                var thang = $("#thang option:selected").val();
                console.log(thang);
            })

        window.onload = function () {


         $.getJSON("/Home/GetData", function (data) {

        var doanhSo = []
        var ngay = []
        for (var i = 0; i < data.length; i++) {
            doanhSo.push(data[i].DoanhSo);
            ngay.push(data[i].Ngay);
        }

        Highcharts.chart('container', {
            chart: {
                type: 'column'
            },
            title: {
                text: "Doanh thu tháng" + @ViewBag.Thang
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'DOANH THU'
                }
            },
            xAxis: {
                categories: ngay
            },
            series: [{
                name: 'Ngày',
                data: doanhSo
            }]
        });

     });
}
    </script>
}
<br />
<div>

</div>
<br />

<div class="col-lg-12">
    <div class="col-lg-6">
        <select id="thang" name="thang">
            @for (int i = 1; i <= 12; i++)
            {
                <option value="@i">Tháng @i</option>
            }
        </select>
        <div id="container"></div>
    </div>
</div>

