@model Ministop.Models.DangNhap
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Log in</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link href="~/Assets/Admin_Layout/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Assets/Admin_Layout/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Assets/Admin_Layout/css/AdminLTE.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <b>HUTECH</b>-MART
        </div>
        <div class="login-box-body">
            <br />
            <form>
                <div class="form-group has-feedback">
                    @Html.TextBoxFor(model => model.TaiKhoan, new { @class = "form-control", placeholder = "Tài khoản", required = "required" })
                    <span class="glyphicon glyphicon-user form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    @Html.PasswordFor(model => model.MatKhau, new { @class = "form-control", placeholder = "Mật khẩu", required = "required", type = "password" })
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
                <div class="row">
                    <div class="col-xs-8">
                    </div>
                    <div class="col-xs-4">
                        <button type="submit" class="btn btn-primary btn-block btn-flat" id="btnLogin">Đăng nhập</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script src="~/Assets/Admin_Layout/jquery/dist/jquery.min.js"></script>
    <script>
        $("#btnLogin").click(function (e) {
            e.preventDefault();
            var taikhoan = $("#TaiKhoan").val();
            var matkhau = $("#MatKhau").val();
            var obj = {
                TaiKhoan: taikhoan,
                MatKhau: matkhau
            }
            $.ajax({
                type: "POST",
                url: "/Login/Index",
                data: obj,
                success: function (result) {
                    if (result == "OK") {
                        alert("Đăng nhập thành công");
                        window.location.href = "/Home/Index";
                    }
                    else {
                        alert("Sai tài khoản hoặc mật khẩu");
                    }
                }
            })
        })
    </script>
</body>
</html>
