.content .mainRight {
    position: relative;
    float: left;
}

input[type=text] {
    flex: 1;
    margin: 0 0 5px;
    position: absolute;
    width: 400px;
    height: 33px;
}

.content .header-filter-buttons {
    flex: 1;
    position: relative;
    margin: 0 0 5px 600px;
}

.details .mainLeft {
    padding: 0;
    position: relative;
    margin-top: 30px;
    float: left;
}

